#!/usr/bin/env xdg-open
[Desktop Action new-private-window]
Exec=/usr/lib/firefox/firefox --private-window %u
Name[en_US]=New Private Window
Name=New Private Window

[Desktop Action new-window]
Exec=/usr/lib/firefox/firefox --new-window %u
Name[en_US]=New Window
Name=New Window

[Desktop Entry]
Actions=new-window;new-private-window;
Categories=Network;WebBrowser;
Comment=Browse the Web
Exec=/usr/lib/firefox/firefox %u
GenericName=
Icon=firefox
Keywords=web;browser;internet;
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
Name=Firefox no-profile
NoDisplay=false
Path[$e]=
StartupNotify=true
StartupWMClass=Firefox
Terminal=0
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
